.goods{
    height: 95vh;

  }

  .goodsTitle{
    height: 20%;
    box-shadow: gray;
    background-color: rgba(240, 247, 240, 0.3);

    border-radius: 25px;
    margin: 1%;
  }


  .goodsBody{
    height: 75%;
    box-shadow: gray;
    background-color: rgba(240, 247, 240, 0.3);

    border-radius: 25px;
    margin: 1%;
  }